   body {
      margin: 0;
      padding: 0;
      background: #f7f3e8; /* sanft sandig */
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 100vh;
      font-family: system-ui, sans-serif;
    }

    svg {
      max-width: 90vw;
      max-height: 80vh;
    }
   
    #worldmap {
       border: 1px solid black;
    }
  
