   body {
      margin: 0;
      padding: 0;
      background: #f7f3e8; /* sanft sandig */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: system-ui, sans-serif;
    }
#tooltip {
  background-color:cornflowerblue;
  position: absolute;
  font-size:0.8rem;
  opacity:0.9;
  padding: 0.8rem;
  border-radius: 1.2rem;
  transform: translate(0,-50px);
  visibility: hidden;

}
   main {
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items: center;
   }

    svg {
      max-width: 90vw;
      max-height: 80vh;
    }

    #world {
       text-align: center;
    }
   
   /* #worldmap {
       border: 1px solid black;
    }*/
  
